* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 360px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFB;
}

.header {
  display: table;
  width: 100%;
  min-height: 50px;
  overflow: hidden;
}

.header__logo {
  display: table-cell;
  width: 30%;
  font-size: 34px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #E12836;
}

.header__nav {
  display: table-cell;
  width: 70%;
  vertical-align: middle;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.nav__item {
  font-size: 24px;
  font-weight: bold;
  color: #083EFD;
  list-style: none;
  margin-right: 40px;
}

.nav__item:hover {
  color: #e6959b;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  cursor: pointer;
}

.nav__link:visited {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.main__start {
  position: relative;
  width: 100%;
  height: 700px;
}

.start__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5%;
}

.start__pic {
  position: relative;
  top: 75px;
  width: 50%;
}

.carousel {
    position: relative;
    width: 50%;
    height: 100%;
    min-height: 152px;
    overflow: hidden;
}

.carousel__radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: absolute;
    bottom: 15px;
    right: 16px;
    width: 40px;
    height: auto;
}

.carousel__element {
    width: 7.5px;
    height: 7.5px;
    z-index: 1;
    cursor: pointer;
}

.carousel__element:not(:last-of-type) {
    margin-right: 3.75px;
}

.carousel__element {
    width: 7.5px;
    height: 7.5px;
    z-index: 1;
    cursor: pointer;
}

.carousel__radio-fake, .carousel__radio-real {
    display: inline-block;
    position: absolute;
    width: 7.5px;
    height: 7.5px;
}

.carousel__radio-real {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 2;
    cursor: pointer;
}

.carousel__radio-fake {
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    filter: drop-shadow(0 5px 5px rgba(31,32,65,.30196));
}

.carousel__pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: absolute;
    left: 0;
    width: 400%;
    height: 100%;
    transition: 2s;
}

.carousel__pic {
    width: 25%;
    height: 100%;
    transition: 2s;
}

.carousel__img {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}

.carousel__buttons {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel:hover .carousel__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0; 
}

.carousel__button {
    position: relative;
    height: 100%;
    width: 42px;
    background: linear-gradient(90deg,rgba(0,0,0,.50196),transparent 99.99%,hsla(0,0%,100%,0));
    cursor: pointer;
}

.carousel__button_next {
    transform: matrix(-1,0,0,1,0,0);
}

.start__text {
  position: relative;
  width: 50%;
  height: fit-content;
  font-size: 36px;
  color: #E12836;
  text-align: center;
}

.start__btm {
  position: relative;
  bottom: 0;
  height: 250px;
  overflow: hidden;
}

#vacation-type {
  width: 100%;
  height: 600px;
  color: #FFFFFB;
  background-color: #083EFD;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5%;
}

.main__header {
  font-size: 44px;
  text-align: center;
}

.vacation-type__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  justify-content: space-between;
}

.vacation-type__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.vacation-type__ico {
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
}

.main__top-countries {
  width: 100%;
  height: 550px;
  padding: 0 5%;
  margin: 20px 0;
}

.top-countries__list {
  display: block;
  width: 640px;
  height: 300px;
  overflow: hidden;
  margin: auto;
}

.top-countries__row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 600%;
  height: 100%;
  transition: 2s;
}

.top-countries__item {
  position: relative;
  width: 25%;
  height: 100%;
  border-radius: 3%;
}

.top-countries__country {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: turquoise;
  overflow: hidden;
}

.top-countries__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  color: #fff;
}

.top-countries__pagination {
  width: 100%;
  height: 150px;
  background-color: aquamarine;
}


.main__contacts {
  width: 100%;
  height: 450px;
  color: #FFFFFB;
  background-color:#083EFD;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 230px;
  margin: 20px auto;
}

.contacts__textarea {
  width: 100%;
  height: 150px;
  font-size: 20px;
}

.contacts__button {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  font-size: 24px;
  border-radius: 15px;
  color: #FFFFFB;
  background: #083EFD;
}

.footer {
  width: 100%;
  height: 80px;
  text-align: center;
  color: black;
  background-color: aquamarine;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  width: fit-content;
  height: 75px;
  margin: 15px auto;
  user-select: none; 
}

.pagination__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  width: 240px;
  height: 40.4px;
  font-size: 0.875em; 
}

.pagination__info {
  width: fit-content;
  height: 23px;
  margin: 0 auto;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: .0001em;
  text-align: left;
  pointer-events: none;
}

.pagination__item {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  color: #1f204180;
  background: transparent;
}

.pagination__item:hover {
    background: rgba(8, 62, 253, 0.1);
}

.pagination__item_current {
    font-weight: 700;
    color: #fff;
    background: linear-gradient(180deg, #083EFD 0%, #8ba4f9 100%);
}

.pagination__button {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.pagination__button_last, .pagination__button_first {
    font-weight: 400;
    color: #1f204180;
    background: transparent;
}

.pagination__button_next, 
.pagination__button_prev {
    position: relative;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.pagination__button_next:before {
  content: '❯';
  color: #fff;
}

.pagination__button_prev:before {
  content: '❮';
  color: #fff;
}
 
